<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <title>Mi Estadistca</title>
  {% load static%}
  <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
</head>
<body>
  <audio id="musica" hidden loop preload oncanplay="musicaF()">
      <source src="{%static 'WizardAmbience.mp3'%}" type="audio/mpeg">
      <script src="{%static 'script.js'%}"></script>
  </audio>


  <div class="navegador">
      <h1><img src="{% static 'logo1.png'%}" alt="decorativo">Medieval Chemist<img src="{% static 'logo1.png'%}" alt="decorativo"></h1>
      <ul class="nav">
        <li><a href="http://40.124.40.241:8000/index.html">Principal</a></li>
        <li><a href="http://40.124.40.241:8000/juego.html">Juega</a></li>
        <li><a href="http://40.124.40.241:8000/estadistica.html">Estadísticas</a></li>
        <li><a href="http://40.124.40.241:8000/mi_estadistica.html">Mis Estadísticas</a></li>
        <li><a href="http://40.124.40.241:8000/stem.html">STEM</a></li>
      </ul>
  </div>


{% block content %}
  <p class = "enviar">Has salido de tu cuenta</p>
  <li class = "b"><a href="http://40.124.40.241:8000/accounts/login/">Haz click aquí, para entrar a tu cuenta</a></li>
{% endblock %}




<div class="grid-container3">
    <div>
        <p>Autores:</p>
        <p>Yusdivia Molina Román - A01653120 <br> Leonardo Arturo Morales López - A01652673 <br> Rodolfo León Gasca - A01653185 <br> Axel González Carreto - A01652775</p>
    </div>
    <div>
        <p> Para la materia Construcción de Software y Toma de Decisiones (TC2005B) <br> Grupo 442 <br> Del Tecnológico de Monterrey</p>
    </div>
    <div>
        <p>Profesores:</p>
        <p> José Martín Molina Espinosa<br>
            Sergio Ruiz Loza<br>
            Christian Rolando Vallejo Villamil<br><br> Marzo 2021
        </p>
    </div>
</div>




</body>

</html>
