<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Página principal</title>
    {% load static%}
    <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
    <audio id="musica" hidden loop preload oncanplay="musicaF()">
        <source src="{%static 'WizardAmbience.mp3'%}" type="audio/mpeg">
        <script src="{%static 'script.js'%}"></script>
    </audio>


    <div class="navegador">
        <h1><img src="{% static 'logo1.png'%}" alt="decorativo">Medieval Chemist<img src="{% static 'logo1.png'%}" alt="decorativo"></h1>
        <ul class="nav">
            <li><a href="index.html">Principal</a></li>
            <li><a href="juego.html">Juega</a></li>
            <li><a href="estadistica.html">Estadísticas</a></li>
            <li><a href="mi_estadistica.html">Mis Estadísticas</a></li>
            <li><a href="stem.html">STEM</a></li>
        </ul>
    </div>

    <div class="grid-container12">
        <div class = "izq">
            <p>Se han jugado: {{minutosTotales}} min</p>
        </div>

        <div class = "cen">
            <p>En promedio se juegan: {{promTemp}} min</p>
        </div>

        <div class = "der">
            <p>Maximo tiempo de juego: {{maxTiempo}} min</p>
        </div>
    </div>


    <div>
        <h3>¿Te encuentras dentro de los mejores? </h3>
    </div>
    <!--Prueba Leaderboard-->
            <script type="text/javascript">
                google.charts.load('current', {
                    'packages': ['table']
                });
                google.charts.setOnLoadCallback(drawTable);

                function drawTable() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Top');
                    data.addColumn('string', 'Nickname');
                    data.addColumn('number', 'Score');
                    data.addRows({{losDatos6|safe}});

                    var table = new google.visualization.Table(document.getElementById('leaderboard'));

                    table.draw(data, {
                        width: '90%',
                        height: '100%',
                        TableColorFormat: 'red'
                    });
                }

            </script>

        <div id="leaderboard" ></div>
    <!--Prueba Leaderboard-->
    <div>
        <h3>¿Quieres saber más sobre Medieval Chemist?
            Consulta las siguientes gráficas:</h3>
    </div>

<div class="grid-container8">
    <!--Prueba Grafica 1-->

       <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{losDatos7|safe}});

        var options = {
          title: 'Genero vs Porcentaje',
           pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('char_genero'));

        chart.draw(data, options);
      }
    </script>


    <div id="chart_genero" style="width: 650px; height: 400px;"></div>

    <!--Prueba Grafica2 -->
       <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable({{losDatos5 | safe}});

                var options = {
                    title: 'Promedio de indicadores por nivel',
                    vAxis: {
                        title: 'promedio de éxito'
                    },
                    hAxis: {
                        title: 'Nivel'
                    },
                    seriesType: 'bars',

                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_barras'));
                chart.draw(data, options);
            }

        </script>

    <div id="chart_barras" style="width: 650px; height: 400px;"></div>

</div>



<div class="grid-container8">
    <!--Prueba Grafica 3-->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{losDatos|safe}});

                var options = {
                    title: 'Tiempo jugado vs Compuestos hechos',
                    hAxis: {
                        title: 'Tiempo (min)'
                    },
                    vAxis: {
                        title: '# Compuesto hechos'
                    },
                    legend: 'none'
                };
                var chart = new google.visualization.ScatterChart(document.getElementById('chart_TvC'));
                chart.draw(data, options);
            }
        </script>

    <div id="chart_TvC" style="width: 650px; height: 400px;"></div>

    <!--Prueba Grafica4 -->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{losDatos2 | safe}});

                var options = {
                    title: 'Compuestos vendidos vs Elementos Comprados',
                    hAxis: {
                        title: '# Elementos comprados'
                    },
                    vAxis: {
                        title: '# Compuestos vendidos'
                    },
                    legend: 'none'
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('chart_CvE'));

                chart.draw(data, options);
            }
        </script>

    <div id="chart_CvE" style="width: 650px; height: 400px;"></div>

</div>

<div class="grid-container8">
    <!--Prueba Grafica 5-->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{losDatos4|safe}});

                var options = {
                    title: 'Tiempo jugado vs edad',
                    hAxis: {
                        title: 'Edad'
                    },
                    vAxis: {
                        title: 'Tiempo (min)'
                    },
                    legend: 'none'
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('chart_TvE'));

                chart.draw(data, options);
            }

        </script>

    <div id="chart_TvE" style="width: 650px; height: 400px;"></div>

    <!--Prueba Grafica 6-->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable({{losDatos3 | safe}});

                var options = {
                    title: 'Promedio de indicadores por nivel',
                    vAxis: {
                        title: 'Indicadores'
                    },
                    hAxis: {
                        title: 'Nivel'
                    },
                    seriesType: 'bars',

                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_PvN'));
                chart.draw(data, options);
            }

        </script>

    <div id="chart_PvN" style="width: 650px; height: 400px;"></div>

</div>

    <br> <br>

    <div class="grid-container3">
        <div>
            <p>Autores:</p>
            <p>Yusdivia Molina Román - A01653120 <br> Leonardo Arturo Morales López - A01652673 <br> Rodolfo León Gasca - A01653185 <br> Axel González Carreto - A01652775</p>
        </div>
        <div>
            <p> Para la materia Construcción de Software y Toma de Decisiones (TC2005B) <br> Grupo 442 <br> Del Tecnológico de Monterrey</p>
        </div>
        <div>
            <p>Profesores:</p>
            <p> José Martín Molina Espinosa<br>
                Sergio Ruiz Loza<br>
                Christian Rolando Vallejo Villamil<br><br> Marzo 2021
            </p>
        </div>
    </div>
</body>

</html>
