<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Página principal</title>
    {% load static%}
    <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
    <audio id="musica" hidden loop preload oncanplay="musicaF()">
        <source src="{%static 'WizardAmbience.mp3'%}" type="audio/mpeg">
        <script src="{%static 'script.js'%}"></script>
    </audio>


    <div class="navegador">
        <h1><img src="{% static 'logo1.png'%}" alt="decorativo">Medieval Chemist<img src="{% static 'logo1.png'%}" alt="decorativo"></h1>
        <ul class="nav">
            <li><a href="index.html">Principal</a></li>
            <li><a href="juego.html">Juega</a></li>
            <li><a href="estadistica.html">Estadísticas</a></li>
            <li><a href="mi_estadistica.html">Mi Estadísticas</a></li>
            <li><a href="stem.html">STEM</a></li>
        </ul>
    </div>
    <div>
        <h3>¿Te encuentras dentro de los mejores? </h3>
        <div id="table_div"></div>
        <script src="{%static 'scriptTable.js'%}"></script>
    </div>
    <div>
        <h3>¿Quieres saber más sobre Medieval Chemist?
            Consulta las siguientes gráficas:</h3></div>


<!--Prueba Grafica 1-->
    <div>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{losDatos|safe}});

        var options = {
          title: 'num_compounds_made vs time',
          hAxis: {title: 'time'},
          vAxis: {title: 'num_compounds_made'},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_scatter1'));

        chart.draw(data, options);
      }
    </script>
    </div>
    <div id="chart_div_scatter1" style="width: 900px; height: 500px;"></div>
<!--Prueba Grafica1 -->

<!--Prueba Grafica2 -->
    <div>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{losDatos2|safe}});

        var options = {
          title: 'num_compounds_sold vs num_elements_purchased',
          hAxis: {title: 'num_elements_purchased'},
          vAxis: {title: 'num_compounds_sold'},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_scatter2'));

        chart.draw(data, options);
      }
    </script>
    </div>
    <div id="chart_div_scatter2" style="width: 900px; height: 500px;"></div>
<!--Prueba Grafica2 -->

<!--Prueba Grafica 3-->
    <div>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable({{losDatos4|safe}});

        var options = {
          title: 'time vs age',
          hAxis: {title: 'age'},
          vAxis: {title: 'time'},
          legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div_scatter4'));

        chart.draw(data, options);
      }
    </script>
    </div>
    <div id="chart_div_scatter4" style="width: 900px; height: 500px;"></div>
<!--Prueba Grafica 3-->
<!--Prueba Grafica 4-->
<div>
        <script type="text/javascript">
        google.charts.load('current', {
    'packages': ['corechart']
});
google.charts.setOnLoadCallback(drawVisualization);

function drawVisualization() {
    // Some raw data (not necessarily accurate)
    var data = google.visualization.arrayToDataTable({{losDatos3|safe}});

    var options = {
        title: 'Promedio de indicadores por nivel',
        vAxis: {
            title: 'Indicadores'
        },
        hAxis: {
            title: 'Nivel'
        },
        seriesType: 'bars',

    };

    var chart = new google.visualization.ComboChart(document.getElementById('chart_divNvI'));
    chart.draw(data, options);
}
    </script>
</div>
  <div id="chart_divNvI" style="width: 900px; height: 500px;"></div>
<!--Prueba Grafica 4-->


    <div class="grid-container8">
        <div id="chart_divTvC" style="width: 650px; height: 400px;"></div>
            <script src="{%static 'scriptTvC.js'%}"></script>
        <div id="chart_divEvT" style="width: 650px; height: 400px;"></div>
            <script src="{%static 'scriptEvT.js'%}"></script>
    </div>

    <div class="grid-container8">
        <div id="chart_divCvE" style="width: 650px; height: 400px;"></div>
            <script src="{%static 'scriptCvE.js'%}"></script>
        <div id="chart_divNvI" style="width: 650px; height: 400px;"></div>
            <script src="{%static 'scriptNvI.js'%}"></script>
    </div>
    <br> <br>

    <div class="grid-container3">
        <div>
            <p>Autores:</p>
            <p>Yusdivia Molina Román - A01653120 <br> Leonardo Arturo Morales López - A01652673 <br> Rodolfo León Gasca - A01653185 <br> Axel González Carreto - A01652775</p>
        </div>
        <div>
            <p> Para la materia Construcción de Software y Toma de Decisiones (TC2005B) <br> Grupo 442 <br> Del Tecnológico de Monterrey</p>
        </div>
        <div>
            <p>Profesores:</p>
            <p> José Martín Molina Espinosa<br>
                Sergio Ruiz Loza<br>
                Christian Rolando Vallejo Villamil<br><br> Marzo 2021
            </p>
        </div>
    </div>
</body>

</html>
