<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Mi Estadistca</title>
    {% load static%}
    <link href="{% static 'style.css'%}" rel="stylesheet" type="text/css" />
</head>

<body>
    <audio id="musica" hidden loop preload oncanplay="musicaF()">
        <source src="{%static 'WizardAmbience.mp3'%}" type="audio/mpeg">
        <script src="{%static 'script.js'%}"></script>
    </audio>


    <div class="navegador">
        <h1><img src="{% static 'logo1.png'%}" alt="decorativo">Medieval Chemist<img src="{% static 'logo1.png'%}" alt="decorativo"></h1>
        <ul class="nav">
            <li><a href="index.html">Principal</a></li>
            <li><a href="juego.html">Juega</a></li>
            <li><a href="estadistica.html">Estadísticas</a></li>
            <li><a href="mi_estadistica.html">Mis Estadísticas</a></li>
            <li><a href="stem.html">STEM</a></li>
        </ul>
    </div>







    <h3>Hola {{nombre}}, aquí están tus estadísticas </h1>

    <div class="grid-container11">
        <div class = "uno"><p>Has jugado: {{tiempoTot}} min</p></div>
        <div class = "dos"><p>En promedio (por Sesión) has jugado: {{tiempoProm}} min</p></div>
        <div class = "tres"><p>Mínimos de tiempo: {{tiempoMin}} min</p></div>
        <div class = "cuatro"><p>Maximo de tiempo es: {{tiempoMax}} min</p></div>
        <div class = "cinco"><p>Nivel maximo alcanzado es: {{nivelMax}}</p></div>
    </div>

    <div class="grid-container8">
    <!--Prueba Grafica 1-->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{datos6|safe}});

                var options = {
                    title: 'porcnetaje de exito x nivel',
                    hAxis: {
                        title: 'nivel'
                    },
                    vAxis: {
                        title: 'exito'
                    },
                    legend: 'none'
                };
                var chart = new google.visualization.ScatterChart(document.getElementById('chart_1'));
                chart.draw(data, options);
            }
        </script>

    <div id="chart_1" style="width: 650px; height: 400px;"></div>

    <!--Prueba Grafica2 -->
        <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable({{datos7 | safe}});

                var options = {
                    title: 'Ejemplo 2',
                    hAxis: {
                        title: '# Elementos comprados'
                    },
                    vAxis: {
                        title: '# Compuestos vendidos'
                    },
                    legend: 'none'
                };

                var chart = new google.visualization.ScatterChart(document.getElementById('chart_2'));

                chart.draw(data, options);
            }
        </script>

    <div id="chart_2" style="width: 650px; height: 400px;"></div>

</div>

    <div class="grid-container8">
    <!--Prueba Grafica 3-->
    <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable({{losDatos9 | safe}});

                var options = {
                    title: 'Ejemplo 3',
                    vAxis: {
                        title: '3'
                    },
                    hAxis: {
                        title: '3'
                    },
                    seriesType: 'bars',

                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_3'));
                chart.draw(data, options);
            }

        </script>

    <div id="chart_3" style="width: 650px; height: 400px;"></div>

    <!--Prueba Grafica4 -->
       <script type="text/javascript">
            google.charts.load('current', {
                'packages': ['corechart']
            });
            google.charts.setOnLoadCallback(drawVisualization);

            function drawVisualization() {
                // Some raw data (not necessarily accurate)
                var data = google.visualization.arrayToDataTable({{losDatos5 | safe}});

                var options = {
                    title: 'Ejemplo 4',
                    vAxis: {
                        title: '4'
                    },
                    hAxis: {
                        title: '4'
                    },
                    seriesType: 'bars',

                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_4'));
                chart.draw(data, options);
            }

        </script>

    <div id="chart_4" style="width: 650px; height: 400px;"></div>

</div>


    <li class = "b"><a href="http://40.124.40.241:8000/accounts/logout/">LOG OUT</a></li>




        <div class="grid-container3">
            <div>
                <p>Autores:</p>
                <p>Yusdivia Molina Román - A01653120 <br> Leonardo Arturo Morales López - A01652673 <br> Rodolfo León Gasca - A01653185 <br> Axel González Carreto - A01652775</p>
            </div>
            <div>
                <p> Para la materia Construcción de Software y Toma de Decisiones (TC2005B) <br> Grupo 442 <br> Del Tecnológico de Monterrey</p>
            </div>
            <div>
                <p>Profesores:</p>
                <p> José Martín Molina Espinosa<br>
                    Sergio Ruiz Loza<br>
                    Christian Rolando Vallejo Villamil<br><br> Marzo 2021
                </p>
            </div>
        </div>
</body>

</html>
